Neural Machine Translation with Attention/models/
Trigger word detection/chime_output.wav
Trigger word detection/train.wav
Trigger word detection/insert_test.wav
Trigger word detection/audio_examples/
Trigger word detection/models/
Trigger word detection/raw_data/
Trigger word detection/XY_dev
Trigger word detection/XY_train
